<div class="search-div" [ngClass]="{ changeBackground: searchValue != '' }">
  <span>Search</span>

  <!-- original first video -->
  <!-- <input type="text" (input)="changeSearchValue($event)"> -->

  <!-- video approach below (this is 2 way data binding )-->
  <input type="text" [(ngModel)]="searchValue" (input)="onSearchTextChange()"/>

  <!-- my approach below, shows like placeholder, above is proper text-->
  <!-- <input type="text" (input)="changeSearchValue($event)" placeholder="{{searchValue}}"> -->
  <span *ngIf="searchValue != ''">Searching for "{{ searchValue }}"</span>
</div>
